<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="table"></table>

</body>
<script type="text/javascript">
    var book ={{.booklist}}
            $("#table").bootstrapTable({ // 对应table标签的id
                striped: true,//隔行变色
                showColumns: false,// 列
                toobar: '#toolbar',
                pagination: true, //分页
                paginationPreText: '上一页',
                paginationNextText: '下一页',
                pageList: [5, 10, 25, 50, 100],
                //    showRefresh: true,//显示刷新
                search: false, //显示搜索框
                data: book,
                columns: [{
                    field: 'no',
                    title: '书籍编号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                }, {
                    field: 'BookName',
                    title: '书籍名称'
                }, {
                    field: 'BookAuthor',
                    title: '作者'
                }, {
                    field: 'BookPub',
                    title: '出版社'
                }, {
                    field: 'BookNum',
                    title: '书本数量'
                },]

            })
</script>
</html>
